CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_mt7622=y
CONFIG_TARGET_mediatek_mt7622_DEVICE_linksys_e8450-ubi=y

CONFIG_LIBCURL_OPENSSL=y
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_libmbedtls=y
CONFIG_LIBMBEDTLS_HAVE_ARMV8CE_AES=y

CONFIG_PACKAGE_sqm-scripts=y
CONFIG_PACKAGE_luci-app-sqm=y
CONFIG_PACKAGE_smartdns=y
CONFIG_PACKAGE_luci-app-smartdns=y
CONFIG_PACKAGE_luci-i18n-smartdns-zh-cn=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_unzip=y

CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-base=y
CONFIG_LUCI_LANG_zh-cn=y
CONFIG_PACKAGE_auc=y
CONFIG_PACKAGE_blockd=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-uas=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-nls-base=y
CONFIG_PACKAGE_kmod-nls-cp437=y
CONFIG_PACKAGE_kmod-nls-iso8859-1=y
CONFIG_PACKAGE_kmod-nls-utf8=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-f2fs=y
CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_luci-ssl-openssl=y
CONFIG_PACKAGE_luci-theme-openwrt-2020=y
CONFIG_PACKAGE_libustream-wolfssl=y
CONFIG_PACKAGE_wpad-basic-wolfssl=y
CONFIG_PACKAGE_px5g-wolfssl=y
CONFIG_PACKAGE_libustream-openssl=y
CONFIG_PACKAGE_wpad-openssl=y
CONFIG_PACKAGE_kmod-mtd-rw=y
CONFIG_PACKAGE_uhttpd=y
#CONFIG_PACKAGE_wpad=y
